<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acciones</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <script src="../vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
</head>
<body>
    <!--
        Normalmente las acciones conectan con la API de Backend
        estas a su vez realizan un commit en la mutación del componente
        la mutación cambia el estado de una propiedad y esto se renderiza en la Vista

        rsc: https://vuex.vuejs.org/vuex.png

        ES escencial conocer el ciclo de vida de Vue para poder ejecutar
        acciones, métodos y estados según sea requerido
        muchas partes del ciclo de vida de Vue funcionan como un trigger

        VueX también posee un ciclo de vida solo que este ocurre a tráves de 
        una biblioteca o tienda de datos
    -->
    <div id="app">
        <titulo></titulo>
    </div>

    <script>
        Vue.component('titulo', {
            template: 
            /*html*/`
            <div>
                <h1>numero {{snumero}}</h1>
                <p>{{numero}}</p>
                <hijo></hijo>
            </div>
            `,
            computed: {
               ...Vuex.mapState(['numero'])
            }
        });

        Vue.component('hijo', {
            template:
            /*html*/`
            <div>
                <button @click="aumentar">+</button>
                <button @click="disminuir">&nbsp;-&nbsp;</button>
                <!--Ejecutamos la acción obtenerCursos por medio de un método mapeado a tráves de mapActions-->
                <button @click="obtenerCursos">Cursos</button>
                <h4>Numero {{$store.state.numero}}</h4>
                <!--Recoge los datos de la variable cursos y genera un elemento li por cada elemento dentro de datos-->
                <ul v-for="item of cursos">
                    <li>{{item.nombre}}</li>
                </ul>
            </div>
            `,
            // Se coloca en computed, debido a que state devuelve estados de una variable
            computed: {
                ...Vuex.mapState(['numero', 'cursos'])
            },
            //Se coloca en métodos debido a que mutaciones y acciones devuelven una función
            methods: {
                ...Vuex.mapMutations(['aumentar', 'disminuir']),
                ...Vuex.mapActions(['obtenerCursos'])
            }
        });

        const store = new Vuex.Store({
            state: {
                numero: 10,
                cursos: []
            },
            mutations: {
                aumentar(state) {
                    state.numero++
                },
                disminuir(state) {
                    state.numero--
                },
                llenarCursos(state, cursosAccion) {
                    state.cursos = cursosAccion
                }
            },
            // Conexiones con la API
            actions: {
                //Creo una función async, src: https://javascript.info/async-await
                obtenerCursos: async function ({commit}) {
                    /* 
                        Await es propio de las funciones async
                        espera a que la promesa (fetch) devuelva un valor
                        Fetch obtiene como parámetro la ruta de conexión al API
                    */
                    const data = await fetch('api.json');
                    // devolvemos el valor de data en formato json
                    const cursos = await data.json();
                    //
                    // Un commit es la acción que traslada la información desde una acción hacia una mutación
                    // puede verse aquí el esquema src: https://vuex.vuejs.org/vuex.png
                    // commit debe declararse como objeto de la función para poder devolver un valor
                    // recibe como parámetros el nombre de la mutación a invocar y cualquier otro parámetro que la mutación posea
                    //
                    commit('llenarCursos', cursos);
                }
            }
        });

        new Vue ({
            el: '#app',
            store
        });
    </script>
</body>
</html>